<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>Meal Deals</string>
		<string>Beverages</string>
		<string>Dessert</string>
		<string>A La Carte</string>
		<string>Omlette Fillings </string>
		<string>Pancake and Waffle Toppings</string>
	</array>
	<array>
		<dict>
			<key>name</key>
			<string>Omlette, 3 fillings</string>
			<key>price</key>
			<integer>7</integer>
			<key>options</key>
			<dict>
				<key>Fillings</key>
				<array>
					<string>Italian Sausage</string>
					<string>Peppers</string>
					<string>Onions</string>
					<string>Mushrooms</string>
					<string>Cheddar Cheese</string>
					<string>Spinach</string>
					<string>Tomato</string>
					<string>Salsa</string>
					<string>Bacon</string>
					<string>Breakfast Sausage</string>
					<string>Ham</string>
				</array>
				<key>Carbs</key>
				<array>
					<string>Hash Browns</string>
					<string>Toast</string>
					<string>English Muffin</string>
				</array>
				<key>Drinks</key>
				<array>
					<string>Coffee</string>
					<string>Soda</string>
					<string>Juice</string>
				</array>
			</dict>
			<key>notes</key>
			<string>Choose 3 fillings, Bread, Drink</string>
			<key>subtitle</key>
			<string>Hash Browns, Toast/English Muffin, Drink</string>
		</dict>
		<dict>
			<key>name</key>
			<string>2 Eggs Any Style, Meat</string>
			<key>price</key>
			<integer>7</integer>
			<key>options</key>
			<dict>
				<key>Breakfeast Meats</key>
				<array>
					<string>Ham</string>
					<string>Bacon</string>
					<string>Sausage</string>
				</array>
				<key>Carbs</key>
				<array>
					<string>Hashbrowns</string>
					<string>Toast</string>
					<string>English Muffin</string>
				</array>
				<key>Drinks</key>
				<array>
					<string>Coffee</string>
					<string>Soda</string>
					<string>Juice</string>
				</array>
			</dict>
			<key>notes</key>
			<string>Choose Meat, Bread, and Drink</string>
			<key>subtitle</key>
			<string>Breakfast Meat, Fruit Cup, Drink</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Belgian Waffle, 1 Topping</string>
			<key>price</key>
			<integer>7</integer>
			<key>options</key>
			<dict>
				<key>Toppings</key>
				<array>
					<string>Strawberries</string>
					<string>Blueberries</string>
					<string>Peaches</string>
					<string>Apples</string>
					<string>Walnuts</string>
					<string>Mixed Berries</string>
					<string>Chocolate Chips</string>
				</array>
				<key>Breakfeast Meats</key>
				<array>
					<string>Ham</string>
					<string>Bacon</string>
					<string>Sausage</string>
				</array>
			</dict>
			<key>notes</key>
			<string>Choose 1 Topping, 1 Meat, 1 Drink</string>
			<key>subtitle</key>
			<string>Breakfast Meat, Fruit Cup, Drink</string>
		</dict>
		<dict>
			<key>name</key>
			<string>3 Pancakes, 1 Topping</string>
			<key>price</key>
			<integer>7</integer>
			<key>options</key>
			<dict>
				<key>Toppings</key>
				<array>
					<string>Strawberries</string>
					<string>Blueberries</string>
					<string>Peaches</string>
					<string>Apples</string>
					<string>Walnuts</string>
					<string>Mixed Berries</string>
					<string>Chocolate Chips</string>
				</array>
				<key>Breakfeast Meats</key>
				<array>
					<string>Ham</string>
					<string>Bacon</string>
					<string>Sausage</string>
				</array>
			</dict>
			<key>notes</key>
			<string>Choose 1 Topping, 1 Meat, 1 Drink</string>
			<key>subtitle</key>
			<string>Hash Browns, Toast/English Muffin, Drink</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>name</key>
			<string>Coffee, large (16 oz.)</string>
			<key>price</key>
			<real>0.99</real>
		</dict>
		<dict>
			<key>name</key>
			<string>Hot Tea </string>
			<key>price</key>
			<real>1.49</real>
		</dict>
		<dict>
			<key>name</key>
			<string>Hot Chocolate</string>
			<key>price</key>
			<real>1.49</real>
		</dict>
		<dict>
			<key>name</key>
			<string>Latte</string>
			<key>price</key>
			<real>1.49</real>
		</dict>
		<dict>
			<key>name</key>
			<string>Cappuccino</string>
			<key>price</key>
			<real>1.49</real>
		</dict>
		<dict>
			<key>name</key>
			<string>Espresso</string>
			<key>price</key>
			<real>1.49</real>
		</dict>
		<dict>
			<key>name</key>
			<string>Double Espresso</string>
			<key>price</key>
			<real>1.99</real>
		</dict>
		<dict>
			<key>name</key>
			<string>Juice</string>
			<key>price</key>
			<real>1.49</real>
		</dict>
		<dict>
			<key>name</key>
			<string>Milk</string>
			<key>price</key>
			<real>1.29</real>
		</dict>
		<dict>
			<key>name</key>
			<string>Soy Milk</string>
			<key>price</key>
			<real>1.49</real>
		</dict>
		<dict>
			<key>name</key>
			<string>Soda</string>
			<key>price</key>
			<real>0.89</real>
		</dict>
		<dict>
			<key>name</key>
			<string>Frost</string>
			<key>price</key>
			<real>2.49</real>
		</dict>
		<dict>
			<key>name</key>
			<string>Frost With Malt</string>
			<key>price</key>
			<real>2.99</real>
		</dict>
	</array>
	<array>
		<dict>
			<key>name</key>
			<string>Honey Bun</string>
			<key>price</key>
			<real>1.25</real>
		</dict>
		<dict>
			<key>name</key>
			<string>Honey Bun A la Mode</string>
			<key>price</key>
			<real>2.75</real>
		</dict>
		<dict>
			<key>name</key>
			<string>Small Gelato</string>
			<key>price</key>
			<real>1.49</real>
		</dict>
		<dict>
			<key>name</key>
			<string>Large Gelato</string>
			<key>price</key>
			<real>2.49</real>
		</dict>
		<dict>
			<key>name</key>
			<string>Small Ice Cream</string>
			<key>price</key>
			<real>1.29</real>
		</dict>
		<dict>
			<key>name</key>
			<string>Large Ice Cream </string>
			<key>price</key>
			<real>2.29</real>
		</dict>
		<dict>
			<key>name</key>
			<string>Sundae: Fudge, Stawberry, or Brownie</string>
			<key>price</key>
			<real>2.95</real>
		</dict>
	</array>
	<array>
		<dict>
			<key>name</key>
			<string>Egg Any Style</string>
			<key>price</key>
			<real>1</real>
		</dict>
		<dict>
			<key>name</key>
			<string>Create Your Own Omelette </string>
			<key>price</key>
			<real>2.69</real>
		</dict>
		<dict>
			<key>name</key>
			<string>Cheese Omelet</string>
			<key>price</key>
			<real>2.69</real>
		</dict>
		<dict>
			<key>name</key>
			<string>Bacon, Ham, Sausage</string>
			<key>price</key>
			<real>1.5</real>
		</dict>
		<dict>
			<key>name</key>
			<string>Bagel Supreme</string>
			<key>price</key>
			<real>3.75</real>
		</dict>
		<dict>
			<key>name</key>
			<string>Egg N&apos; Bagel </string>
			<key>price</key>
			<real>3.25</real>
		</dict>
		<dict>
			<key>name</key>
			<string>Egg McWilliams</string>
			<key>price</key>
			<real>3.25</real>
		</dict>
		<dict>
			<key>name</key>
			<string>Breakfast Burrito</string>
			<key>price</key>
			<real>3.25</real>
		</dict>
		<dict>
			<key>name</key>
			<string>Hash Browns</string>
			<key>price</key>
			<real>1.49</real>
		</dict>
		<dict>
			<key>name</key>
			<string>English Muffin</string>
			<key>price</key>
			<real>0.89</real>
		</dict>
		<dict>
			<key>name</key>
			<string>Toasted Bagel </string>
			<key>price</key>
			<real>1</real>
		</dict>
		<dict>
			<key>name</key>
			<string>White, Wheat Gluten Free Toast</string>
			<key>price</key>
			<real>1</real>
		</dict>
		<dict>
			<key>name</key>
			<string>Fresh Fruit Bowl</string>
			<key>price</key>
			<real>2.5</real>
		</dict>
		<dict>
			<key>name</key>
			<string>Peanut Butter </string>
			<key>price</key>
			<real>0.5</real>
		</dict>
		<dict>
			<key>name</key>
			<string>Cream Cheese </string>
			<key>price</key>
			<real>0.5</real>
		</dict>
		<dict>
			<key>name</key>
			<string>Preserves</string>
			<key>price</key>
			<real>0.5</real>
		</dict>
		<dict>
			<key>name</key>
			<string>Battenkill Brittle </string>
			<key>price</key>
			<real>4</real>
		</dict>
		<dict>
			<key>name</key>
			<string>Belgain Waffle w/ Maple Syrup </string>
			<key>price</key>
			<real>3</real>
		</dict>
		<dict>
			<key>name</key>
			<string>3 Pancakes w/ Maple Syrup </string>
			<key>price</key>
			<real>3</real>
		</dict>
	</array>
	<array>
		<dict>
			<key>name</key>
			<string>Italian Sausage </string>
			<key>price</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Peppers</string>
			<key>price</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Onions</string>
			<key>price</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Mushrooms</string>
			<key>price</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Chedder Cheese</string>
			<key>price</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Spinach</string>
			<key>price</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Tomato</string>
			<key>price</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Salsa</string>
			<key>price</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Bacon</string>
			<key>price</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Breakfast Sausage </string>
			<key>price</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Ham</string>
			<key>price</key>
			<integer>1</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>name</key>
			<string>Chocolate Chips</string>
			<key>price</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Walnuts</string>
			<key>price</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Strawberries</string>
			<key>price</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Blueberries</string>
			<key>price</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Mixed Berries</string>
			<key>price</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Peaches</string>
			<key>price</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Apples</string>
			<key>price</key>
			<integer>1</integer>
		</dict>
	</array>
</array>
</plist>
